# Explicit User Ignores
Files/
docs/
.env

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
.DS_Store

# Local Mock Data & Notebooks
*.ipynb
.ipynb_checkpoints/
backend/dynamodb_local/*.db
backend/data/emails/


# Frontend / Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
